# Python
venv
__pycache__

# IDEs
.idea
.vscode

# Docker
Dockerfile
compose.yaml
.dockerignore

# Git
.git
.github
.gitignore
README.md
LICENSE.md
CODE_OF_CONDUCT.md

.env.example
*.log
public/photo/teachers/*.jpg
public/photo/food/*.jpg

ecosystem.config.js